body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}
.app-container {
  text-align: center;
  padding: 20px;
  color: white;
}
.api-card {
  background: white;
  color: black;
  margin: 10px auto;
  padding: 15px;
  width: 400px;
  border-radius: 10px;
  text-align: left;
}
.api-title {
  font-weight: bold;
}
.api-body {
  font-size: 14px;
  color: #444;
}
.loading {
  color: yellow;
  font-weight: bold;
}